html,
body {
    height: 100%;
    width: 100%;
    --black: #222222;
    --dark-black: #111111;
    --pitch-black: #000;
    --white: #eeeeee;
    --green: #008080;
    background: var(--black);
    overflow: hidden;
    touch-action: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    background: var(--green);
    position: absolute;
    width: 98%;
    height: calc(98% - 30px);
    border: 2px solid silver;
    border-bottom: 30px solid silver;
}

#taskbar {
    height: 20px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 5px 0px;
    background: none !important;
    box-shadow: none !important;
}

#taskbar-shadow {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
}

.taskbar-img {
    height: 18px;
    margin: auto;
}

.taskbar-txt {
    line-height: 23px;
    font-size: 15px;
}

.taskbar-btn {
    margin-left: 10px;
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 5px;
    padding: 0 5px;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}
@keyframes textShadow {
    0% {
        text-shadow:
            0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
            -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    5% {
        text-shadow:
            2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
            -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    10% {
        text-shadow:
            0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
            -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    15% {
        text-shadow:
            0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
            -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    20% {
        text-shadow:
            3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
            -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    25% {
        text-shadow:
            1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
            -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    30% {
        text-shadow:
            0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
            -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    35% {
        text-shadow:
            3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
            -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    40% {
        text-shadow:
            3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
            -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    45% {
        text-shadow:
            2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
            -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    50% {
        text-shadow:
            0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
            -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    55% {
        text-shadow:
            2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
            -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    60% {
        text-shadow:
            2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
            -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    65% {
        text-shadow:
            2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
            -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    70% {
        text-shadow:
            0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
            -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    75% {
        text-shadow:
            1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
            -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    80% {
        text-shadow:
            0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
            -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    85% {
        text-shadow:
            0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
            -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    90% {
        text-shadow:
            3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
            -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    95% {
        text-shadow:
            2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
            -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
    100% {
        text-shadow:
            2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
            -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
            0 0 3px;
    }
}
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    border-radius: 20px;
}
.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.25) 50%
        ),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.06),
            rgba(0, 255, 0, 0.02),
            rgba(0, 0, 255, 0.06)
        );
    z-index: 10000;
    background-size:
        100% 2px,
        3px 100%;
    pointer-events: none;
}

.crt.dt::after {
    height: calc(100% + 30px);
}
.crt.dt::before {
    height: calc(100% + 30px);
}

#desktop * {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   -ms-user-select: none;
   user-select: none;
}

.unselectable {
    pointer-events: none;
}

#desktop {
    height: 100%;
}

#folder-container {
    max-height: calc(100% - 30px);
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    width: 100px;
    row-gap: 10px;
}

.file {
    width: 100px;
    font-family: "Pixelated MS Sans Serif",Arial;
}

.file > a {
    display: block;
}

.file > img, .file > a > img {
    width: 70px;
    position: relative;
    object-fit: cover;
    left: 15px;
    cursor: pointer;
}

.file > p {
    text-align: center;
    color: var(--black);
    word-break: break-all;
}

.f-close {
    cursor: pointer;
}

.d-window {
    position: absolute;
}

.tf-window {
    word-wrap: break-word;
}

.tf-window p {
    max-width: 350px;
}

.f-title {
    cursor: grab;
}

.f-title.moving {
    cursor: grabbing;
}

.title-bar-text {
    max-width: 250px;
}

#desktop .window-body {
    max-width: 350px;
    max-height: 350px;
    overflow-y: scroll;
    padding-right: 5px;
}

#window-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 10px;
}

.if-window > .window-body, .af-window > .window-body, .vf-window > .window-body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.img-caption {
    margin-top: 8px;
    max-width: 300px;
}

.if-img-body {
    max-height: 300px;
    max-width: 350px;
    object-fit: contain;
}

.af-img-body {
    max-height: 280px;
    max-width: 300px;
    object-fit: contain;
}

.af-controls {
    display: flex;
    max-width: 300px;
    justify-content: space-around;
    column-gap: 8px;
}

.af-control {
    height: 30px;
    width: 50px;
    padding: 0px;
}

.loading-gif {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
}

.control-img {
    width: 20px;
    height: 20px;
    top: 5px;
    left: 15px;
    pointer-events: none;
}

#sbcontainer > img {
    transition: all .1s;
}

#sbcontainer > img:hover {
    transform: translate(-2px, -2px);
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement
{
    display: none;
}

.progress-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset -2px -2px #dfdfdf,inset 2px 2px grey;
  box-sizing: border-box;
  height: 32px;
  padding: 4px;
  position: relative;
  touch-action: none;
}

.progress-indicator > .progress-indicator-bar {
  background-color: navy;
  display: block;
  height: 100%;
  pointer-events: none;
  touch-action: none;
}

.term-font {
    font-family: "VT323", monospace;
    font-size: 15pt;
}